---
layout: default
subject: TITULO | CATEGORIA
---

<wrapper class="default-theme">
    <!-- header -->
    <container class="mail-header">
        <row class="collapse">
            <columns>
                <img alt="fallbacknoimg" src="http://via.placeholder.com/640x322">
            </columns>
        </row>
    </container>
    <!-- end: header -->


    <!-- body -->
    <container class="mail-body">
        <spacer size="34"></spacer>
        <row>
            <columns large="10" class="large-offset-2">
                <h2 class="text-24">
                    <strong>Lorem ipsum dolor sit amet.</strong>
                </h2>
                <spacer size="13"></spacer>
                <p class="text-14">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit voluptas distinctio facilis placeat, doloremque, aliquam!
                </p>
                <spacer size="13"></spacer>
                <img alt="fallbacknoimg" src="http://via.placeholder.com/640x322">
                <spacer size="6"></spacer>
                <p class="text-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error deleniti tenetur eligendi sint repellendus rerum ut porro reprehenderit, minima eaque, qui atque! Rerum nihil, reprehenderit!
                </p>
                <spacer size="25"></spacer>
                <button class="expanded large button-weight-normal" href="https://www.linkedin.com/in/benderrw/" target="_blank">
                    Faça o download do Manual do Usuário
                </button>
            </columns>
        </row>
        <spacer size="39"></spacer>
    </container>
    <!-- end: body -->


    <!-- footer -->
    {{> footer }}
    <!-- end: footer -->
</wrapper>
