<container class="mail-footer">
    <spacer size="40"></spacer>
    <row>
        <columns small="12">
            <p class="text-12" style="line-height: 1.333;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, facere at esse quidem, architecto iste aut!
                <br><br><strong>Lorem ipsum dolor sit amet.</strong>
                <br>Rua Desembargador Pedro Silva, 2034 | Florianópolis | CEP 88080-700 | Brasil
                <br><strong>Central de Atendimento e SAC</strong> 0800 xxx xxxx
                <br><strong>Ouvidoria</strong> 0800 xxx xxxx
                <br><a href="https://www.linkedin.com/in/benderrw/" target="_blank">https://www.linkedin.com/in/benderrw/</a>
            </p>
        </columns>
    </row>
    <spacer size="50"></spacer>
</container>
